.ft-thin {	font-family: "Segoe UI Light", "proxima-nova", "Kozuka Gothic Pro EL", helvetica, arial, sans-serif; font-weight:100;}
.ft-light {	font-family:"Segoe UI Semilight", "proxima-nova", "Kozuka Gothic Pro L", helvetica, arial, sans-serif; font-weight:300	}
.ft-reg {font-family:"Segoe UI", "proxima-nova", "Kozuka Gothic Pro R", helvetica, arial, sans-serif; font-weight:400}
.ft-semi {font-family:"Segoe UI Semibold", "proxima-nova", "Kozuka Gothic Pro M", helvetica, arial, sans-serif; font-weight:600}
.ft-black {font-family:"Segoe UI Black", "proxima-nova", "Kozuka Gothic Pro H", helvetica, arial, sans-serif;font-weight:900}

body {font-family: "Segoe UI", "proxima-nova", "Kozuka Gothic Pro R", helvetica, arial, sans-serif;}

h1, h2, h3, h4, h5, h6 {}
h1 {font-size:49px;}
h2 {font-size:34px;}
h3 {font-size:24px;}
h4 {font-size:18px;}
h5 {font-size:16px;}
h5.col { border-right:1px solid rgba(0,0,0,.3);
}
h6 {}

.ft-white {color:white;}
.ft-blue {color:blue}
.ft-ltblue {color:#bdd1ce;}
.ft-dark-grey {color:#494949;}
.ft-dark {color:black;}
.ft-dark-green {color:#163038}
.ft-loukblue {color:#a3c1c9}
.ft-red {color:#8f061e;}
